@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-arrow {
    border-bottom: 5px solid #48556A;
}

.bottom-arrow:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 12px solid #48556A;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -12px;
}
